<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <title>About</title>
  {% include 'snippets/footer_snippet.html' %}

  <!--<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3%;
      background-color: black;
      color: white;
      text-align: center;
    }
  </style>-->
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Developer Nikk</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 my-3" style="background-color:lavender;">
        <iframe src="https://drive.google.com/file/d/1GkTpyY9jpB-yxxf-in8cuQSRpvgXXMYV/preview" width="320" 
        height="240" alt="Nikita Lalwani" class="img-rounded"></iframe>
        <!--<img src="NikitaLalwaniCE.jpg" alt="Pineapple" width="170" height="170">-->

        <!--<iframe src="https://drive.google.com/file/d/1GkTpyY9jpB-yxxf-in8cuQSRpvgXXMYV/preview" width="640" height="480"></iframe>-->
        <!-- <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" width="320" height="240" alt=""> -->
        <h1>Nikita Lalwani</h1>
        <h5><small>Python Developer</small></h5>
        <hr>
        <p class="text-justify">Having a total experience of three months as a Machine Learning intern.
          Intermediate level knowledge of Python, beginner knowledge of Django and
          API development. Interested to work in a challenging job profile which will provide
          me an opportunity to enhance my technical skills and knowledge. </p>
        <h5><small>Address</small></h5>
        <hr>
        <p>Abu Road, Rajasthan(Sirohi).</p>
        <h5><small>Phone Number</small></h5>
        <hr>
        <p>8005842220</p>
        <h5><small>Email</small></h5>
        <hr>
        <p>nktllwn@gmail.com</p>
        <h5><small>Date of Birth</small></h5>
        <hr>
        <p>17-12-1998</p>
      </div>
      <br>
      <br>
      <div class="col-sm-9">
        <div class="jumbotron bg-dark text-white my-3 ">
          <h2 class="text-center">Education</h2>
          <br>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <h5 class="mx-3">
                <small> June 2014-March 2016</small>
              </h5>
            </div>
            <div class="col-sm-6">
              <h5>
                <small>Rachana School, Ahmedabad(Gujarat).</small>
              </h5>
              <h5><small>HSC - 89.2% (PCM + CS)</small>
              </h5>
            </div>
            <div class="col-sm-6">
              <h5 class="mx-3">
                <small>July 2016-May 2020</small>
              </h5>
            </div>
            <div class="col-sm-6 my-3">
              <h5>
                <small>Ganpat University, Mehsana(Gujarat).</small>
              </h5>
              <h5>
                <small>B.tech - Computer Engineering, Cgpa - 9.10</small>
              </h5>
            </div>
          </div>
          <hr>
          <h2 class="text-center">Experience</h2>
          <br>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <h5 class="mx-3">
                <small>May 2019-June 2019</small>
              </h5>
            </div>
            <div class="col-sm-6">
              <h5>
                <small>BISAG, Gandhinagar(Gujarat).</small>
              </h5>
              <h5>
                <small>Android Intern</small>
              </h5>
            </div>
            <div class="col-sm-6 my-3">
              <h5 class="mx-3">
                <small>December 2019-March 2020</small>
              </h5>
            </div>
            <div class="col-sm-6 my-3">
              <h5>
                <small>Solulab, Ahmedabad(Gujarat).</small>
              </h5>
              <h5>
                <small>Machine Learning Intern</small>
              </h5>
            </div>
          </div>
          <hr>
          <h2 class="text-center">Skills</h2>
          <br>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <h5 class="mx-3">
                <small>Python</small>
              </h5>
            </div>
            <div class="col-sm-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h5 class="mx-3">
                <small>Django</small>
              </h5>
            </div>
            <div class="col-sm-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h5 class="mx-3">
                <small>API Development</small>
              </h5>
            </div>
            <div class="col-sm-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h5 class="mx-3">
                <small>Bootstrap</small>
              </h5>
            </div>
            <div class="col-sm-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                  style="width:70%">
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>Copyright | All rights reserved</p>
  </div>

  <!--<h1>This is home.html.bootstrap</h1>-->

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

</html>